<header class="header">
  <img src="assets/images/original_logo.png" alt="EcoMarket Logo" class="logo" />
  <nav class="nav">
    <button routerLink="/vender" class="nav-button">Venta</button>
    <button routerLink="/noticias" class="nav-button">Noticias</button>
    <button routerLink="/eventos" class="nav-button">Eventos</button>
    <button routerLink="/contacto" class="nav-button">Contacto</button>
    <button routerLink="/sobre-nosotros" class="nav-button">Sobre Nosotros</button>
    <button routerLink="/perfil" class="nav-button">Perfil</button>
  </nav>
</header>