.header {
  background-color: #3BB143;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 60px;
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav-button {
  background: white;
  border: 1px solid #3BB143;
  color: #3BB143;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background: #3BB143;
  color: white;
}

@media (max-width: 768px) {
  .nav-button {
    padding: 8px 12px;
    font-size: 14px;
  }
  .logo {
    height: 50px;
  }
}
