<section class="product-section">
  <h2>Productos Destacados:</h2>
  <div class="product-grid">
    <div *ngFor="let product of featuredProducts" class="product-item">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
      </div>
      <h3>{{ product.name }}</h3>
      <button (click)="addToCart(product)" class="add-to-cart-button">Añadir a la Cesta</button>
    </div>
  </div>

  <h2>Productos del Mes:</h2>
  <div class="product-grid">
    <div *ngFor="let product of monthlyProducts" class="product-item">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
      </div>
      <h3>{{ product.name }}</h3>
      <button (click)="addToCart(product)" class="add-to-cart-button">Añadir a la Cesta</button>
    </div>
  </div>

  <h2>Productos de Temporada:</h2>
  <div class="product-grid">
    <div *ngFor="let product of seasonalProducts" class="product-item">
      <div class="product-image">
        <img [src]="product.imageUrl" alt="{{ product.name }}">
      </div>
      <h3>{{ product.name }}</h3>
      <button (click)="addToCart(product)" class="add-to-cart-button">Añadir a la Cesta</button>
    </div>
  </div>
</section>
